@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	box-sizing: border-box;
    font-size: 72.5%;  /*1 REM igual a 10px */
}
*, *:before, *:after {
	box-sizing: inherit;
}

img{
    max-width: 100%;
    display: block;
}

.custom-img {
    height: 6rem; /* O el tamaño que desees */
    width: auto; /* Permitirá que el ancho se ajuste automáticamente */
  }